# 01. Importing libraries

In [85]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [86]:
# Turn your project folder path into a string
path = r'/Users/dianafayarbas/Desktop/10.24.2023 Instacart Basket Analysis'

In [87]:
path

'/Users/dianafayarbas/Desktop/10.24.2023 Instacart Basket Analysis'

In [88]:
# Import the “orders.csv” data set into your notebook using the os library 
# and the vars_list shortcut, omitting the “eval_set” column in your final dataframe.
# vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [89]:
# Import the “products.csv” file into Jupyter as df_prods 
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

# 03. Data wrangling

In [90]:
# Dropping eval_set column from orders.csv
df_ords = df_ords.drop(columns = ['eval_set'])

In [91]:
# Print all the functions within a specific column
df_ords['days_since_prior_order'].value_counts(dropna = False)

30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: days_since_prior_order, dtype: int64

In [92]:
# Rename order_dow column
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [93]:
# Change data type to string
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [94]:
# Check data type
df_ords['order_id'].dtype

dtype('O')

# Question 2

In [95]:
# Find another identifier variable in the df_ords dataframe 
# that doesn’t need to be included in your analysis as a numeric variable 
# and change it to a suitable format.

# Change user_id data type to string
df_ords['user_id'] = df_ords['user_id'].astype('str')
# Check data type
df_ords['user_id'].dtype

dtype('O')

# Question 3

In [96]:
# Look for a variable in your df_ords dataframe with an unintuitive name
# and change its name without overwriting the dataframe.

# Rename order_hour_of_day to hour_order_placed
df_ords.rename(columns = {'order_hour_of_day' : 'hour_order_placed'}).head()

,order_id,user_id,order_number,orders_day_of_week,hour_order_placed,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# Question 4

In [97]:
# Your client wants to know what the busiest hour is for placing orders. 
# Find the frequency of the corresponding variable and share your findings.

df_ords['order_hour_of_day'].value_counts()

10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: order_hour_of_day, dtype: int64

The busiest hour for placing orders is 10am.

# Question 5

In [98]:
# Determine the meaning behind a value of 4 in the "department_id" column 
# within the df_prods dataframe using a data dictionary.

In [99]:
# Import departments dataset
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

In [100]:
# Transposing df_dep
df_dep_t = df_dep.T
# Add an index
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [101]:
# Take the first row of df_dep_t for the header
new_header = df_dep_t.iloc[0]
# Delete copy of first row
df_dep_t_new = df_dep_t[1:]
# Set new_header variable as the new header
df_dep_t_new.columns = new_header

In [102]:
data_dict = df_dep_t_new.to_dict('index')

In [103]:
print(data_dict.get('4'))

{'department': 'produce'}

The department_id value 4 means produce.

# Question 6

In [104]:
# The sales team in your client’s organization wants to know more about 
# breakfast item sales. Create a subset containing only the required information.

data_dict
# Breakfast is department 14.

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [105]:
# Breakfast only
df_breakfast =  df_prods[df_prods['department_id']==14]
df_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

# Question 7

In [106]:
# They’d also like to see details about products that customers might use 
# to throw dinner parties. Your task is to find all observations from the 
# entire dataframe that include items from the following departments: 
# alcohol, deli, beverages, and meat/seafood.

data_dict
# alcohol 5, deli 20, beverages 7, meat/seafood 12

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [107]:
# Subsetting dinner parties dataframe
df_dinner_parties = df_prods.loc[df_prods['department_id'].isin([5,20,7,12])]
df_dinner_parties.head()

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1

# Question 8

In [108]:
# It’s important that you keep track of total counts in your dataframes. 
# How many rows does the last dataframe you created have?
df_dinner_parties.shape

(7650, 5)

The last dataframe I created has 7,650 rows.

# Question 9

In [126]:
# Someone from the data engineers team in Instacart thinks they’ve spotted 
# something strange about the customer with a "user_id" of “1.” 
# Extract all the information you can about this user.

df_ords[df_ords['user_id']=='1']

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0
10,1187899,1,11,4,8,14.0

# Question 10

In [128]:
# You also need to provide some details about this user’s behavior. 
# What basic stats can you provide based on the information you have?
df_user1 = df_ords[df_ords['user_id']=='1']
df_user1.describe()

,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,11.000000,11.000000,11.000000,10.000000
mean,6.000000,2.636364,10.090909,19.000000
std,3.316625,1.286291,3.477198,9.030811
min,1.000000,1.000000,7.000000,0.000000
25%,3.500000,1.500000,7.500000,14.250000
50%,6.000000,3.000000,8.000000,19.500000
75%,8.500000,4.000000,13.000000,26.250000
max,11.000000,4.000000,16.000000,30.000000

# Question 12

In [129]:
# Export your df_ords dataframe as “orders_wrangled.csv” in your “Prepared Data” folder.
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

# Question 13

In [130]:
# Export the df_dep_t_new dataframe as “departments_wrangled.csv” in your 
# “Prepared Data” folder so that you have a “.csv” file of your 
# departments data in the correct format.
df_dep_t_new.to_csv(os.path.join(path, '02 Data','Prepared Data', 'departments_wrangled.csv'))