# Importing libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing data

In [3]:
# Turn your project folder path into a string
path = r'/Users/dianafayarbas/Desktop/10.24.2023 Instacart Basket Analysis'

In [4]:
path

'/Users/dianafayarbas/Desktop/10.24.2023 Instacart Basket Analysis'

# Task 4.6

### Step 3

In [5]:
# In a new notebook, import the orders_products_combined dataframe 
# from the pickle file you just saved.
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [6]:
# Drop _merge column
orders_products_combined = orders_products_combined.drop('_merge', axis=1)
orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

### Step 4

In [7]:
# Check the shape of the imported dataframe (it should be the same as the one 
# you exported—always check!).
orders_products_combined.shape

(32434489, 9)

### Step 5

In [8]:
# Determine a suitable way to combine the orders_products_combined dataframe 
# with your products data set. Make sure you’re using your wrangled, cleaned, 
# and deduped products data set stored in your “Prepared Data” folder from 
# the previous Exercise’s task.

# Import most up-to-date products dataset
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Drop first column of df_prods
df_prods = df_prods.drop(df_prods.columns[0], axis=1)
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
# Run shape checks
df_prods.shape

(49672, 5)

In [11]:
# Combine datasets on product_id
df_combined = df_prods.merge(orders_products_combined, on = 'product_id', indicator = True)
df_combined.shape

(32404859, 14)

### Step 6

In [24]:
# Confirm the results of the merge using the merge flag.
df_combined['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

### Step 7

In [25]:
# Export the newly created dataframe as orders_products_merged in a suitable format 
# (taking into consideration the size).
df_combined.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))