# Importing libraries

In [7]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing data

In [8]:
# Turn your project folder path into a string
path = r'/Users/dianafayarbas/Desktop/10.24.2023 Instacart Basket Analysis'

In [9]:
path

'/Users/dianafayarbas/Desktop/10.24.2023 Instacart Basket Analysis'

# Merging Your Instacart Data

In [10]:
# Import the new data set into Jupyter as a new dataframe: df_ords_prior.
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [11]:
# Import the most up-to-date orders dataset
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [12]:
# Drop first two columns of df_ords
df_ords = df_ords.iloc[:, 2:]
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [13]:
# Run shape checks
df_ords_prior.shape

(32434489, 4)

In [14]:
df_ords.shape

(3421083, 6)

In [15]:
# Create a new df
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [21]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# Task 4.6

### Step 1

In [23]:
# If you haven’t merged your prepared Instacart orders data with 
# the new orders_products_prior dataframe per the instructions in this Exercise, do so now.
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

### Step 2

In [24]:
# Export the merged file in pickle format as “orders_products_combined.pkl”.
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))