# Importing libraries

In [179]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing data

In [180]:
# Turn your project folder path into a string
path = r'/Users/dianafayarbas/Desktop/10.24.2023 Instacart Basket Analysis'

In [181]:
path

'/Users/dianafayarbas/Desktop/10.24.2023 Instacart Basket Analysis'

# If-Statements with User-Defined Functions

In [182]:
# Import the ords_prods_merged dataframe you exported in the previous task
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [183]:
# Work with a subset of the dataframe
df = ords_prods_merged[:1000000]

In [184]:
# Drop _merge column
df = df.drop('_merge', axis=1)

In [185]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [186]:
df['price_range'] = df.apply(price_label, axis=1)

In [187]:
df.shape

(1000000, 14)

In [188]:
# Run the value_counts() function to check the values in your new column
df['price_range'].value_counts()

Mid-range product    652638
Low-range product    338018
High range             9344
Name: price_range, dtype: int64

In [189]:
df['prices'].max()

24.5

# If-Statements with the loc() Function

In [190]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [191]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [192]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [193]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product     652638
Low-range product     338018
High-range product      9344
Name: price_range_loc, dtype: int64

# If-Statements with For-Loops

In [194]:
ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [195]:
# Create a new column, “busiest day,” that will contain one of three different values: 
# “Busiest day,” “Least busy,” and “Regularly busy.”
# for-loop

result = []

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [196]:
# Create a new column within your ords_prods_merge dataframe and set it equal to result
ords_prods_merged['busiest_day'] = result

In [197]:
ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

# Task 4.7

### Step 1

In [198]:
# If you haven’t done so already, complete the instructions in the Exercise for creating 
# the “price_label” and “busiest_day” columns.

# Drop _merge column
ords_prods_merged = ords_prods_merged.drop('_merge', axis=1)
# ords_prods_merged.head()
# busiest_day is here

In [199]:
# Create price_label column

ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [200]:
ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15) & (ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [201]:
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'
ords_prods_merged.head()
# price_range_loc is here now too

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,busiest_day,price_range_loc
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,Regularly busy,Mid-range product
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,Regularly busy,Mid-range product
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,Busiest day,Mid-range product
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,Regularly busy,Mid-range product
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,Least busy,Mid-range product

### Step 2

In [202]:
# Suppose your clients have changed their minds about the labels you created in your 
# “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). 
# This label should correspond with the two busiest days of the week as opposed to the 
# single busiest day. At the same time, they’d also like to know the two slowest days. 
# Create a new column for this using a suitable method.

ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

# 0 and 1 are the busiest days of the week
# 3 and 4 are the slowest days of the week

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [204]:
# Create a new column, “busiest_days,” that will contain one of three different values: 
# “Busiest days,” “Least busy,” and “Regularly busy.”
# for-loop

result2 = []

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0 or value == 1 :
    result2.append("Busiest days")
  elif value == 3 or value == 4:
    result2.append("Least busy")
  else:
    result2.append("Regularly busy")

In [205]:
# Create a new column within your ords_prods_merge dataframe and set it equal to result2
ords_prods_merged['busiest_days'] = result2
ords_prods_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,busiest_day,price_range_loc,busiest_days
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,Regularly busy,Mid-range product,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,Regularly busy,Mid-range product,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,Busiest day,Mid-range product,Busiest days
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,Regularly busy,Mid-range product,Least busy
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,Least busy,Mid-range product,Least busy

### Step 3

In [209]:
# Check the values of this new column for accuracy. Note any observations in markdown format.
ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [210]:
ords_prods_merged['busiest_days'].value_counts(dropna = False)

Regularly busy    12916111
Busiest days      11864412
Least busy         7624336
Name: busiest_days, dtype: int64

**Busiest days are the sum of 0 and 1 frequencies. Least busy is the sum of 3 and 4 frequencies. Regularly busy is the sum of all the other days' frequencies. Everything checks out.**

### Step 4

In [213]:
# The senior technical officer at Instacart wants you to identify the busiest hours 
# of the day. Rather than by hour, they want periods of time labeled “Most orders,” 
# “Average orders,” and “Fewest orders.” Create a new column containing these labels 
# called “busiest_period_of_day.”

# ords_prods_merged.head()
ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

**Most orders: 10, 11, 14, 15, 13, 12, 16, and 9. Average orders: 17, 8, 18, 19, 20, 7, 21, and 22. Fewest orders: 23, 6, 0, 1, 5, 2, 4, and 3.**

In [219]:
# Create a new column, “busiest_period_of_day,” that will contain: 
# “Most orders,” “Average orders,” and “Fewest orders.”
# for-loop

result3 = []

for value in ords_prods_merged["order_hour_of_day"]:
  if value in [10, 11, 14, 15, 13, 12, 16, 9]:
    result3.append("Most orders")
  elif value in [17, 8, 18, 19, 20, 7, 21, 22]:
    result3.append("Average orders")
  else:
    result3.append("Fewest orders")

In [220]:
# Create a new column within your ords_prods_merge dataframe and set it equal to result3
ords_prods_merged['busiest_period_of_day'] = result3
ords_prods_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,busiest_day,price_range_loc,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,Regularly busy,Mid-range product,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,Regularly busy,Mid-range product,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,Busiest day,Mid-range product,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,Regularly busy,Mid-range product,Least busy,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,Least busy,Mid-range product,Least busy,Average orders

### Step 5

In [221]:
# Print the frequency for this new column.
ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

### Step 7

In [223]:
# Export your dataframe as a pickle file (since you added new columns) 
# and store it correctly in your “Prepared Data” folder.

ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_4.7update.pkl'))