# Task 4.9 Part 1

### Step 3

Import your analysis libraries, as well as your new customer data set as a dataframe.

# Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# Importing data

In [2]:
# Turn your project folder path into a string
path = r'/Users/dianafayarbas/Desktop/10.24.2023 Instacart Basket Analysis'

In [3]:
path

'/Users/dianafayarbas/Desktop/10.24.2023 Instacart Basket Analysis'

In [4]:
customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))

In [5]:
customers.shape

(206209, 10)

### Step 4

Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that don’t add anything to your analysis.

In [6]:
# Rename 'First Name' to 'first_name'
customers.rename(columns={'First Name': 'first_name'}, inplace=True)

In [7]:
# Rename 'Surnam' to 'last_name'
customers.rename(columns={'Surnam': 'last_name'}, inplace=True)

In [8]:
# Rename 'Gender' to 'gender'
customers.rename(columns={'Gender': 'gender'}, inplace=True)

In [9]:
# Rename 'STATE' to 'state'
customers.rename(columns={'STATE': 'state'}, inplace=True)

In [10]:
# Rename 'Age' to 'age'
customers.rename(columns={'Age': 'age'}, inplace=True)

In [11]:
# Rename 'n_dependants' to 'num_dependents'
customers.rename(columns={'n_dependants': 'num_dependents'}, inplace=True)

In [12]:
# Rename 'fam_status' to 'marital_status'
customers.rename(columns={'fam_status': 'marital_status'}, inplace=True)

In [13]:
# Change user_id to a string
customers['user_id'] = customers['user_id'].astype('str')
customers['user_id'].dtype

dtype('O')

### Step 5

Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.

In [14]:
# Check for missing values
customers.isnull().sum()

user_id               0
first_name        11259
last_name             0
gender                0
state                 0
age                   0
date_joined           0
num_dependents        0
marital_status        0
income                0
dtype: int64

In [15]:
# View missing values
customers_nan = customers[customers['first_name'].isnull() == True]
customers_nan.head()

,user_id,first_name,last_name,gender,state,age,date_joined,num_dependents,marital_status,income
53,76659,NaN,Gilbert,Male,Colorado,26,1/1/2017,2,married,41709
73,13738,NaN,Frost,Female,Louisiana,39,1/1/2017,0,single,82518
82,89996,NaN,Dawson,Female,Oregon,52,1/1/2017,3,married,117099
99,96166,NaN,Oconnor,Male,Oklahoma,51,1/1/2017,1,married,155673
105,29778,NaN,Dawson,Female,Utah,63,1/1/2017,3,married,151819

In [16]:
# Impute missing values with 'Unknown'
customers['first_name'].fillna('Unknown', inplace=True)
# Check again for missing values
customers.isnull().sum()

user_id           0
first_name        0
last_name         0
gender            0
state             0
age               0
date_joined       0
num_dependents    0
marital_status    0
income            0
dtype: int64

In [17]:
# Check for duplicates
customers_dups = customers[customers.duplicated()]
customers_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, gender, state, age, date_joined, num_dependents, marital_status, income]
Index: []

**There are no duplicates.**

In [18]:
# Check for mixed-type data
# Convert any mixed-type data
for col in customers.columns.tolist():
  weird = (customers[[col]].applymap(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)

**There is no mixed-type data.**

### Step 6

Combine your customer data with the rest of your prepared Instacart data. (Hint: Make sure the key columns are the same data type!)

In [ ]:
# Import the rest of my prepared Instacart data
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_4.8update.pkl'))

In [ ]:
# Make sure the key columns are the same data type
ords_prods_merge['user_id'] = ords_prods_merge['user_id'].astype('str')
ords_prods_merge['user_id'].dtype

In [ ]:
# Merge on user_id
ords_prods_custs = ords_prods_merge.merge(customers, on = 'user_id')
ords_prods_custs.shape

### Step 8

Export this new dataframe as a pickle file so you can continue to use it in the second part of this task.

In [ ]:
ords_prods_custs.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_custs4.9.pkl'))